
.body {
    font-family: "bodoni moda", "josefin sans", sans;
    font-size: 20px;
    background-color: #212121;
   
}

/* HEADER BAR START */
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.navigation {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-right: 10%;
  margin-left: 5%;
  height: 5.5%;
  
  
}
#JobTitle {
    text-align: center;
    display: inline-block;
    font-family: josefin sans;
    font-weight: 400;
}


.dropdownbtn {
    background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 27px;
  font-family: josefin sans;
  font-weight: 100; 
  border: none;
  cursor: pointer;
   }

.dropdown {
  position: relative;
  display: inline-block;  
}

.dropdown-content {
  background-color: #212121;
  display: none;
  position: absolute;5%
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 27px;
  font-family: josefin sans;
  font-weight: 100; 
}

.dropdown-content a {
  color: white;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  height: 30px;
 
}

.dropdown-content a:hover {
  background-color: #212121;
font-weight: 300;}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown:hover .dropdownbtn {
  background-color: 212121;
}


.ConnectBtn {
  border-radius: 12px;
  background-color: white;
  color: #212121;
  font-size: 20px;
  font-family: bodoni moda;
  width: 100px;
  height: 35px;
  margin-left: 10px;
  margin-top: 10px;
  text-align:center;
  
}
.connectbtn:hover {
background-color: #212121;
color: white;
border: 2px solid white;
}

.navright {
    display: flex;
}

/* HEADER BAR END */

/* about.html Page START */
 
.AboutMeformatting {
  display: flex;
  width: 50%;
  align-items: center;
  margin-left: 8%;
 
}
.aboutmesection {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  align-items: center;
  
}

.content {
  align-items: flex-end;
  margin-right: 40px;
   
}

.content img {
  border: 1px solid white;
}  
.resumebtn {
border-radius: 12px;
font-family: bodoni moda;
background-color: #212121;
color: white;
border: 2px solid white;
height: 35px;
width: 150px;
}
.resumebtn:hover {
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.vertical-line {
  border-left: 3px solid white;
  height: 625px;  
  margin-right: 40px;
   
}
/* about.html Page END */


/* work.html Page START */

.mydivworksection {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: "titleandcard-a titleandcard-b titleandcard-c";
  justify-content: center;
}

.titleandcard {
  margin-top: 3%;
  width: 375px;
  height: 600;


}

.title {
  border: 1px solid white;

}

.card {
  margin-top: 3%;
  border: 1px solid white;
  height: 450;

}

.titleandcard-a {
  grid-area: titleandcard-a;

}

.title-a {
  background-color: #FC6543;
}

.card-a {
  background-color: #FFD3C9;

}

.card-a-font {
  color: black;
  font-family: 'Times New Roman', Times, sans serif;
  margin-left: 10px;
}

.card-a-image {
  margin-top: 50px;
}

.card-a2-image {
  margin-left: 175px;
}



.titleandcard-b {
  grid-area: titleandcard-b;
  margin-left: 13%;
}

.title-b {
  background-color: #0C9C23;

}

.card-b {
  background-color: #A7FFB5;

}

.card-b-image {
  margin-left: 100px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
}


.titleandcard-c {
  grid-area: titleandcard-c;
  margin-left: 15%;

}

.title-c {
  background-color: #FF47F8;
}

.card-c {
  background-color: #FFCBFD;

}

.card-c-image {
  margin-left: 25px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
}




.toolkit {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.kit-item {
  border: solid white;
  margin-top: 1%;
  width: 170px;
  height: 90px;
  text-align: center;
}

.itemtitle {
  margin-top: 5px;
}

.aboutitem {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px;
}

.resumeitem {
  border-right: 1px;
}



.contactitem {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px;
}

.signaturefont {
  margin-top: -20px;
}

.resume-icon {
  margin-top: -30px;
}

.businesscard-icon {
  margin-top: -25px;
}

.skills-icon {
  margin-top: -20px;
}

.kit-item a {
  text-decoration: none;
}

@media only screen and (max-width: 600) {
  .mydivworksection {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "titleandcard-a"
      "titleandcard-b"
      "titleandcard-c"
    ;
  }
}
/* work.html Page END */

/* index.html Page START */

.stefkolinpagesetup {
    display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  margin-right: 80px;
  margin-left: 80px;
  }

  .blankleftside {
  height: 325px;
  width: 315px;
  }
.vertical-line-index {
    border-left: 3px solid white;
  height: 375px;  
  margin-right: 40px;
      
}

.stefkolindescription {
  height: 325px;
  width: 400px;
  margin-top: 25px;
 
  }

  .indexpagedownarrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  width: 10%;
  height: 10%;
    
  }
  /* index.html Page END */


  .businesscard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 7%;
    width: 40%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
  }

.buscardlogo {
  margin-top: 14%;
}

.vertical-line-buscard {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  
}
  .vertical-line-buscard-a {
    border-left: 2px solid black;
  height: 275px;  
  margin-right: 0px;

  }

  .vertical-line-buscard-b {
    border-left: 2px solid #13CFF8;
  height: 275px;  
  margin-right: 0px;
  
  }

  .vertical-line-buscard-c {
    border-left: 2px solid #FFF200;
  height: 275px;  
  margin-right: 5px;
  
  }

  .buscardinfo {
    argin-right: 50px;
  }
.buscardtitle {
  margin;
  color: black;
  margin-top: 10%;
  font-weight: 100;
}

.buscardcontact {
  margin: 0;
}
#li {
 text-indent: 0;
}

.buscardname {
   margin-top: -25px;
}

